<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#start-button').click(function () {
                $.ajax({
                    url: '/start_bot',
                    type: 'GET',
                    success: function (response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            $('#stop-button').click(function () {
                $.ajax({
                    url: '/stop_bot',
                    type: 'GET',
                    success: function (response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            $('#new-subject').click(function () {
                $.ajax({
                    url: '/new_subject',
                    type: 'POST',
                    data: jQuery.param({ purpose: "add" }),
                    success: function (response) {
                        console.log(response);
                        //location.reload();
                        location.replace("/")
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            $('#new-subject1').click(function () {
                $.ajax({
                    url: '/new_subject',
                    type: 'POST',
                    data: jQuery.param({ purpose: "add" }),
                    success: function (response) {
                        console.log(response);
                        //location.reload();
                        location.replace("/")
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            $('#reset-button').click(function () {
                console.log("resetCalled!");
                location.reload();
            });
            $('#reset-button1').click(function () {
                console.log("resetCalled!");
                location.reload();
            });
            $(".delete-button").click(function (e) {
                console.log("delete:", e.currentTarget.id)
                remove_subject(e.currentTarget.id)
            })
        });

        function remove_subject(e) {
            console.log("remove subj called:", e)
            $.ajax({
                url: '/delete_subject?id=' + e,
                type: 'POST',
                data: jQuery.param({ purpose: "delete", to_delete: e }),
                success: function (response) {
                    console.log(response);
                    //location.reload();
                    if (response.passed) {
                        location.replace("/")
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
</head>

<body>
    <div>
        <h1>HR Chatbot Controls</h1>
        <!-- <form action="start_bot" method="get"><button onclick="submit">start server</button></form>
            <form action="stop_bot" method="get"><button onclick="submit">stop server</button></form> -->
        <div class="onOffControls">
            <h2>Bot Running!</h2>
            <button disabled id="start-button">START</button>
            <button disabled id="stop-button">STOP</button><br />
        </div>
    </div>
    <div>
        <div style="display:flex;">
            <div class="newSubjectButtonContainer">
                <button id="new-subject">New Subject</button>
            </div>
            <button class="dataSaveButton" id="reset-button">Reset</button>
        </div>
        <form action="/#" method="post">
            <input class="dataSaveButton" type="submit" value="save" />
            {% for datum in data %}
            <!-- <h3>{{datum.subject}}</h3>
            <p>{{datum.content}}</p> -->
            <div class="subjectListContainer">
                <div>
                    <!-- <label for="subject_{{ loop.index}}">ID:</label> -->
                    <input style="display: none;" type="text" id="id_{{loop.index}}" name="id_{{loop.index}}"
                        value="{{datum.id}}" />
                    <label for="subject_{{ loop.index}}">Subject:</label>
                    <input type="text" id="subject_{{ loop.index}}" name="subject_{{ loop.index}}"
                        value="{{ datum.subject }}" />
                    <button class="delete-button" type="button" id="{{datum.id}}">delete</button>
                </div>
                <div>
                    <label for="content_{{ loop.index}}">Content:</label>
                    <textarea id="content_{{ loop.index}}" class="contentText"
                        name="content_{{ loop.index}}">{{ datum.content }}</textarea>
                </div>
            </div>
            {% endfor %}
            <div style="display:flex;">
                <input class="dataSaveButton" type="submit" value="save" />
            </div>
        </form>
        <div style="display:flex;">
            <div class="newSubjectButtonContainer">
                <button id="new-subject1">New Subject</button>
            </div>
            <button class="dataSaveButton" id="reset-button1">Reset</button>
        </div>
    </div>
</body>

</html>