{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block header%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('#start-button').click(function () {
      $.ajax({
        url: '/start_bot',
        type: 'GET',
        success: function (response) {
          console.log(response);
          location.reload();
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
    $('#stop-button').click(function () {
      $.ajax({
        url: '/stop_bot',
        type: 'GET',
        success: function (response) {
          console.log(response);
          location.reload();
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
    $('#new-subject').click(function () {
      $.ajax({
        url: '/new_subject',
        type: 'POST',
        data: jQuery.param({ purpose: "add" }),
        success: function (response) {
          console.log(response);
          //location.reload();
          location.replace("/")
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
    $('#new-subject1').click(function () {
      $.ajax({
        url: '/new_subject',
        type: 'POST',
        data: jQuery.param({ purpose: "add" }),
        success: function (response) {
          console.log(response);
          //location.reload();
          location.replace("/")
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
    $('#reset-button').click(function () {
      console.log("resetCalled!");
      location.reload();
    });
    $('#reset-button1').click(function () {
      console.log("resetCalled!");
      location.reload();
    });
    $(".delete-button").click(function (e) {
      console.log("delete:", e.currentTarget.id)
      remove_subject(e.currentTarget.id)
    });
    $('#unselect-bot').click(function (e) {
      console.log("unselect:", e.currentTarget.id)
      unselect_bot(e.currentTarget.id)
    });
  });


  function unselect_bot(e) {
    console.log("unselect bot event!!", e)
    $.ajax({
      url: '/unselect_bot',
      type: 'POST',
      contentType: 'application/json',
      success: function (response) {
        console.log(response);
        //location.reload();
        location.replace("/")
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
  function remove_subject(e) {
    console.log("remove subj called:", e)
    $.ajax({
      url: '/delete_subject',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ purpose: "delete", to_delete: e }),
      success: function (response) {
        console.log(response);
        //location.reload();
        if (response.passed) {
          location.replace("/")
        }
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
</script>
{% endblock %}
{% block content
%}
<div class="container mt-5">
  <button class="btn btn-secondary" id="unselect-bot">Switch Bot</button>
  <h1 class="text-center mb-4">Subjects</h1>
  <h3 class="text-center"><strong>Selected:</strong> {{bot.display_name}}</h3>
  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-primary" id="new-subject">New Subject</button>
    <button class="btn btn-warning" id="reset-button">Reset</button>
  </div>

  <form method="POST">
    <ul class="list-group list-group-flush mb-3" id="subjects">
      {% for item in data %}
      <li class="list-group-item">
        <div class="mb-2">
          <input type="hidden" id="id_{{loop.index}}" name="id_{{loop.index}}" value="{{item.id}}" />
          <div class="mb-2">
            <label for="subject_{{ loop.index}}" class="form-label">Subject:</label>
            <input type="text" class="form-control" id="subject_{{ loop.index}}" name="subject_{{ loop.index}}"
              value="{{ item.subject }}" />
          </div>

        </div>

        <div>
          <label for="content_{{ loop.index}}" class="form-label">Content:</label>
          <textarea id="content_{{ loop.index}}" class="form-control contentText"
            name="content_{{ loop.index}}">{{ item.content }}</textarea>
        </div>
        <div class="d-flex justify-content-between">
          <input class="btn btn-success" type="submit" value="Save" />
          <button class="btn btn-danger btn-sm delete-button" type="button" id="{{item.id}}">Delete</button>
        </div>
      </li>
      {% endfor %}
    </ul>

  </form>

  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-primary" id="new-subject1">New Subject</button>
    <button class="btn btn-warning" id="reset-button1">Reset</button>
  </div>
</div>
{% endblock %}