.subjectListContainer {
    border: 1px solid black;
    margin-top: 2%;
    background-color: lightblue;
    padding: 0.5%;
}

.triangle {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.subjectContent {
    transition: height 0.3s ease;
}

.rotated {
    transform: rotate(90deg);
}

.contentText {
    margin: 1%;
    min-width: 95%;
    min-height: 100px;
}

.onOffControls {
    min-width: 50%;
    padding: 1%;
    background-color: grey;
}

.newSubjectButtonContainer {
    margin-top: 1%;
}

#new-subject {
    min-width: 70px;
    min-height: 50px;
    padding: 1%;
    font-size: 22px;
}

#new-subject1 {
    min-width: 70px;
    min-height: 50px;
    padding: 1%;
    font-size: 22px;
}

.dataSaveButton {
    min-height: 50px;
    min-width: 70px;
    padding: 1%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

#userBots {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.bot-info {
    display: flex;
    align-items: center;
}

.bot-list {
    padding-left: 4px !important;
}

.bot-name {
    margin-right: 16px;
    font-weight: bold;
}

.bot-assigned {
    color: #307AFF;
}

.toggle-assignment {
    padding: 5px 10px;
    background-color: #307AFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#close-modal {
    padding: 5px 10px;
    background-color: #f01749;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}